<form method="post">
  <input type="hidden" name="id"  value="<%= book.id %>"/>
  <div>Name =<input name="name"  value="<%= book.name %>"/></div>
  <div>Price =<input name="price"  value="<%= book.price %>"/></div>
  <br><button>Save</button>

 

</form>


